pip==9.0.1
setuptools==38.2.3
wheel==0.30.0
Django==1.11.7
requests==2.18.4
psycopg2==2.7.3.2
scrapy==1.4.0
scrapy-djangoitem==1.1.1
scrapyd==1.2.0
scrapyd-client==1.1.0
fabric3==1.13.1.post1
rq==0.10.0
django-rq==1.0.1
rq_scheduler==0.7.0
gunicorn==19.7.1
greenlet==0.4.12
gevent==1.2.2